body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: green;
    padding: 10px;
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.search-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#searchBar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#filterSelect {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastro-btn-container {
    margin-top: 20px;  
    text-align: right; 
  }
  
  .btn-cadastrar {
    background-color: green;  
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-cadastrar:hover {
    background-color: darkgreen;  
  }
  
.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article-box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.article-date, .article-summary {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.read-button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.read-button:hover {
    background-color: darkgreen;
}
